* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(232, 196, 225);
}

.navbar-brand {
    color: #324b61;
    font-weight: bolder;
    font-size: xx-large;
}

.nav-link {
    font-size: larger;
}

.profesion {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: #043c6e;
}

h1 {
    text-align: center;
    color: #324b61;
    font-size: 2em;
}

.nav-link {
    color: #324b61;

}

h3 {
    color: #324b61;
}

footer {
    text-align: center;
    padding: 2em;
    border: 1em;
    margin: 0.1em;
    font-weight: bold;
}

img {
    width: 65%;
    margin-bottom: 20px;
}